//colors
$color-main-white: white;
$color-main-black: black;
$color-main-red: #c93638;
$color-main-gray: #777777;
$color-main-gray-light: #ccc;

//backgrounds
$back-main: #f6f6f6;
$back-white: white;
$back-primary: #c93638;
$back-gray: #555555;
$back-gray-light: #eaeaea;

$border-gray-light: #eaeaea;
$border-gray: #ced4da;

//border
$border-white: rgba(255, 255, 255, 0.5);
$border-gray: #e4e4e4;