.main {
    &-left-menu {
        &__quotes {
            border-bottom: 1px solid $border-gray-light;

            &-box {
                padding: 30px;
            }

            &-title {
                font-family: 'Crete Round', sans-serif;
                font-size: 24px;
            }

            &-item {
                background-image: url('../images/icons/right-quotes.svg');
                background-repeat: no-repeat;
                background-size: 20px;
                background-position: top right;

                p {
                    font-style: italic;
                    font-size: 16px;
                    font-family: Georgia, sans-serif;
                    color: $color-main-gray;
                    padding-right: 30px;
                }

                h4 {
                    font-size: 14px;
                    color: $color-main-gray;
                    font-family: 'Crete Round', sans-serif;
                }

                h5 {
                    font-size: 10px;
                    color: $color-main-gray;
                    font-family: Georgia, sans-serif;
                }
            }
        }
    }

    &-content {
        &__title {
            padding: 35px;
            border-bottom: 1px solid $border-gray-light;
        }

        &__cards {
            .card {
                border: 0;
                border-bottom: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;

                &-header {
                    height: 105px;
                    max-height: 105px;
                    text-align: center;
                    color: $color-main-red;
                    font-size: 20px;
                    line-height: 20px;

                    @media (max-width: 1399px) {
                        font-size: 18px;
                        line-height: 18px;
                    }
                }
            }

            .card-image__scale {
                overflow: hidden;
                height: 200px;

                img {
                    transition: 1s;
                    display: block;
                    height: 100%;
                    object-fit: cover;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .card-body {
                height: 120px;
                max-height: 120px;
                text-align: center;
                color: $color-main-gray;
                font-size: 14px;
            }

            .card-footer {
                font-size: 12px;
                color: $color-main-gray;

                span {
                    margin-right: 5px;
                }

                .comment {
                    text-decoration: none;
                    font-size: 12px;
                    color: $color-main-gray;
                    display: inline-flex;
                    align-items: center;

                    img {
                        width: 12px;
                    }

                    span {
                        margin-left: 5px;
                    }
                }

                &__more {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: $color-main-gray;
                        transition: .4s;

                        &:hover {
                            color: $color-main-red;
                        }
                    }
                }
            }
        }

        &__more-news {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;

            a {
                text-decoration: none;
                font-size: 14px;
                color: $color-main-red;
            }
        }
    }
}