.thanks-cart {
    &-content {
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        margin-bottom: 30px;
        color: #198754;
    }
}